body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
    padding: 135px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 36px;
    color: #fff; 
}

.landing-content {
    text-align: center;
    width: 50%;
    padding-right: 5px;
}

.landing-content h2 {
    font-size: 36px;
    color: #fff;
}

.landing-content p {
    font-size: 24px;
    color: #e4dcdc;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background: linear-gradient(to right, #443364, #020117); 
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background: linear-gradient(to right, #4e2c8c, #960b39); 
}

.section:nth-child(odd) {
    background: linear-gradient(to bottom, #100013, #1a0225); 
    color: #dcd5d5; 
}

.section:nth-child(even) {
    background-color: #0b0217; 
    color: #333; 
}

.image-container {
    max-width: 50%;
    text-align: middle; 
    width: 50%;
    padding-left: 190px;
}

.image-container img {
    max-width: 70%;
    height: auto;
    transition: transform 0.6s ease;
    border-radius: 20px;
}

.image-container:hover img {
    transform: scale(1.1);
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #333; 
    padding: 10px 0; 
    z-index: 1000; 
}

.logo {
    float: left; 
}

.navbar {
    text-align: center; 
}

.section-peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pelicula {
    text-align: center; 
    position: relative;
}

.pelicula img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.6s ease;
}

.pelicula:hover img {
    transform: scale(1.1);
}

.pelicula h4 {
    margin-top: 10px;
    font-size: 20px;
    color: transparent;
    display: inline-block;
    background: linear-gradient(to right, #490415, #242435, #a09595); 
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.pelicula:hover .info-pelicula {
    display: block;
}
.peliculas-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pelicula {
    text-align: center; 
    position: relative;
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
}

@media (max-width: 768px) {
    .pelicula {
        width: calc(50% - 20px); 
    }
}
